{% extends "base.html" %}

{% block content %}
{% for obj in  objects %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <img src="static/img/logo.png">
            </div>
            
            <div class="span4">
                <h1>{{ titulo }}</h1>
                <h2></h2>
             </div>
            
            <div class="span4">
                <h4>2-No Guia no Prestador</h4>
                <p style="font-size:12px"><b>{{ obj['cabecalhoGuia']['numeroGuiaPrestador'] }}</b></p>
            </div>
         </div>
        
        <div class="row">
            <div class="span2">
                <h4>1- Registro ANS</h4>
                <p>{{ obj['cabecalhoGuia']['registroANS'] }}</p>
            </div>
            
            <div class="span3">
                <h4>3-Número da Guia de Solicitação de Internação</h4>
                <p>
                    {% if obj['cabecalhoGuia']['guiaPrincipal'] %}
                        {{ obj['cabecalhoGuia']['guiaPrincipal'] }}
                    {% endif %}
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="span3">
                <h4>4- Data da Autorização</h4>
                <p>
                    {% if obj['dadosAutorizacao'] %}
                        {{obj['dadosAutorizacao']['dataAutorizacao']|formatar_data}}
                    {% endif %}
                </p>
            </div>
            
            <div class="span3">
                <h4>5-Senha</h4>
                <p>
                    {% if obj['dadosAutorizacao'] %}
                        {{ obj['dadosAutorizacao']['senha'] }}
                    {% endif %}
                </p>
            </div>
            
            <div class="span3">
                <h4>6-Data de Validade da Senha</h4>
                <p>
                    {% if obj['dadosAutorizacao'] %}
                        {{ obj['dadosAutorizacao']['dataValidadeSenha']|formatar_data }}
                    {% endif %}
                </p>
            </div>
            
            <div class="span3">
                <h4>7-Número da Guia Atribuído pela Operadora</h4>
                <p>
                    {% if obj['dadosAutorizacao'] %}
                        {{ obj['dadosAutorizacao']['numeroGuiaOperadora'] }}
                    {% endif %}
                </p>
            </div>
        </div>
        
        <div class="tit-tiss">Dados do Beneficiário</div>
        <div class="row">
            <div class="span2">
                <h4>8- Número da Carteira</h4>
                <p>{{ obj['dadosBeneficiario']['numeroCarteira'] }}</p>
            </div>
            
            <div class="span2">
                <h4>9-Validade da Carteira</h4>
                <p>
                __/__/_____
                </p>
            </div>
            
            <div class="span3">
                <h4>10-Nome</h4>
                <p>
                {{ obj['dadosBeneficiario']['nomeBeneficiario'] }}
                </p>
            </div>
            
            <div class="span3">
                <h4>11-Cartão Nacional de Saúde</h4>
                <p></p>
            </div>
            
            <div class="span2">
                <h4>12- Atendimento a RN</h4>
                <p>
                    {{ obj['dadosBeneficiario']['atendimentoRN'] }}
                </p>
            </div>
        </div>
        <!-- colado anterior -->
        <div class="tit-tiss">Dados do Solicitante</div>
        <div class="row">
            <div class="span3">
                <h4>13-Código na Operadora</h4>
                <p>
                    {{obj['dadosSolicitante']['contratadoSolicitante']['cnpjContratado']}}
                </p>
            </div>
            
            <div class="span9">
                <h4>14-Nome do Contratado</h4>
                <p>
                    {{obj['dadosSolicitante']['contratadoSolicitante']['nomeContratado']}}
                </p>
            </div>
            
        </div>
        
        <div class="row">
            <div class="span4">
                <h4>15-Nome do Profissinoal Solicitante</h4>
                <p>
                    {% if obj['dadosSolicitante']['profissionalSolicitante']['nomeProfissional'] %}
                        {{obj['dadosSolicitante']['profissionalSolicitante']['nomeProfissional']}}
                    {% endif %}
                </p>
            </div>
            
            <div class="span1">
                <h4>16-Conselho Profissional</h4>
                <p>{{obj['dadosSolicitante']['profissionalSolicitante']['conselhoProfissional']}}</p>
            </div>
            
            <div class="span2">
                <h4>17-Número no Conselho</h4>
                <p>{{obj['dadosSolicitante']['profissionalSolicitante']['numeroConselhoProfissional']}}</p>
            </div>
            
            <div class="span1">
                <h4>18-UF</h4>
                <p>{{obj['dadosSolicitante']['profissionalSolicitante']['UF']}}</p>
            </div>
            
            <div class="span1">
                <h4>19-Código CBO</h4>
                <p>{{obj['dadosSolicitante']['profissionalSolicitante']['CBOS']}}</p>
            </div>
            
            <div class="span2">
                <h4>20-Assinatura do Profissional Solicitante</h4>
                <p></p>
            </div>
        </div>
        
        <div class="tit-tiss">Dados da Solicitação / Procedimentos e Exames Solicitados</div>
        <div class="row">
            <div class="span1">
                <h4>21-Caráter do Atendimento</h4>
                <p>{{obj['dadosSolicitacao']['caraterAtendimento']}}</p>
            </div>
            <div class="span2">
                <h4>22-Data da solicitação</h4>
                <p>{{obj['dadosSolicitacao']['dataSolicitacao']|formatar_data}}</p>
            </div>
            
            <div class="span9">
                <h4>23-Indicação Clínica</h4>
                <p>
                    {% if obj['dadosSolicitacao']['indicacaoClinica'] %}
                        {{obj['dadosSolicitacao']['indicacaoClinica']}}
                    {% endif %}
                </p>
            </div>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>24-Tabela</td>
                        <td>25-Código do Procedimento</td>
                        <td>26-Descrição</td>
                        <td>27-Qtde.Solic.</td>
                        <td>28-Qtde.Solic.</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="tit-tiss">Dados do Contratado Executante</div>
        <div class="row">
            <div class="span3">
                <h4>29-Código na Operadora</h4>
                <p>{{obj['dadosExecutante']['contratadoExecutante']['codigoPrestadorNaOperadora']}}</p>
            </div>
            
            <div class="span7">
                <h4>30-Nome do Contratado</h4>
                <p>{{obj['dadosExecutante']['contratadoExecutante']['nomeContratado']}}</p>
            </div>
            
            <div class="span2">
                <h4>31-Código CNES</h4>
                <p>{{obj['dadosExecutante']['contratadoExecutante']['CNES']}}</p>
            </div>
            
        </div>
    
        <div class="tit-tiss">Dados do Atendimento</div>
        <div class="row">
            <div class="span1">
                <h4>32-Tipo de Atendimento</h4>
                <p>{{obj['dadosAtendimento']['tipoAtendimento']}}</p>
            </div>
            
            <div class="span7">
                <h4>33-Indicação de Acidente (acidente ou doença relacionada)</h4>
                <p>{{obj['dadosAtendimento']['indicacaoAcidente']}}</p>
            </div>
            
            <div class="span2">
                <h4>34-Tipo de Consulta</h4>
                <p>{{obj['dadosAtendimento']['tipoConsulta']}}</p>
            </div>
            
            <div class="span2">
                <h4>35-Motivo de Encerramento do Atendimento</h4>
                <p>{{obj['dadosAtendimento']['motivoSaida']}}</p>
            </div>
            
        </div>
        
        <div class="tit-tiss">Dados da Execução / Procedimentos e Exames Realizados</div>
        <div>       
            <table class="table">
                <thead>
                    <tr>
                        <td> </td>
                        <td>36-Data</td>
                        <td>37-Hora Inicial</td>
                        <td>38-Hora Final</td>
                        <td>39-Tabela</td>
                        <td>40-Código do Procedimento</td>
                        <td>41-Descrição</td>
                        <td>42-Qtde.</td>
                        <td>43-Via</td>
                        <td>44-Tec.</td>
                        <td>45-Fator Red./Acresc.</td>
                        <td>46-Valor Unitário(R$)</td>
                        <td>47-Valor Total(R$)</td>
                    </tr>
                </thead>
                <tbody>
                    {% if obj['procedimentosExecutados'] %}
                        {% if obj['procedimentosExecutados']['procedimentoExecutado']['dataExecucao'] %}
                            {% if obj['procedimentosExecutados']['procedimentoExecutado']['equipeSadt'] %}
                                {{obj['procedimentosExecutados']['procedimentoExecutado']['equipeSadt']|load_equipes(loop.index, obj['cabecalhoGuia']['numeroGuiaPrestador'])}}
                            {% endif %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['dataExecucao']|formatar_data}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['horaInicial']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['horaFinal']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['procedimento']['codigoTabela']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['procedimento']['codigoProcedimento']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['procedimento']['descricaoProcedimento']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['quantidadeExecutada']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['viaAcesso']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['tecnicaUtilizada']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['reducaoAcrescimo']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['valorUnitario']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['valorTotal']}}</td>
                            </tr> 
                        {% else %}
                            {% for procedimento in obj['cabecalhoGuia']['numeroGuiaPrestador']|procedimentos %}
                                {% if procedimento['equipeSadt'] %}
                                    {{procedimento['equipeSadt']|load_equipes(loop.index, obj['cabecalhoGuia']['numeroGuiaPrestador'])}}
                                {% endif %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{procedimento['dataExecucao']|formatar_data}}</td>
                                <td>{{procedimento['horaInicial']}}</td>
                                <td>{{procedimento['horaFinal']}}</td>
                                <td>{{procedimento['procedimento']['codigoTabela']}}</td>
                                <td>{{procedimento['procedimento']['codigoProcedimento']}}</td>
                                <td>{{procedimento['procedimento']['descricaoProcedimento']}}</td>
                                <td>{{procedimento['quantidadeExecutada']}}</td>
                                <td>{{procedimento['viaAcesso']}}</td>
                                <td>{{procedimento['tecnicaUtilizada']}}</td>
                                <td>{{procedimento['reducaoAcrescimo']}}</td>
                                <td>{{procedimento['valorUnitario']}}</td>
                                <td>{{procedimento['valorTotal']}}</td>
                            </tr> 
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        
        <div class="tit-tiss">Identificação do(s) Profissional(is) Executante(s)</div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <td>48-Seq.Ref</td>
                        <td>49-Grau Part.</td>
                        <td>50-Código na Operadora/CPF</td>
                        <td>51-Nome do Profissional</td>
                        <td>52-Conselho Profissional</td>
                        <td>53-Número no Conselho</td>
                        <td>54-UF</td>
                        <td>55-Código CBO</td>
                    </tr>
                </thead>
                <tbody>
                    {% for equipe in obj['cabecalhoGuia']['numeroGuiaPrestador']|equipes %}
                        {% if equipe['dados']['grauPart'] %}
                          <tr>
                                <td>{{equipe['nr_procedimento']}}</td>
                                <td>{{equipe['dados']['grauPart']}}</td>
                                <td>{{equipe['dados']['codProfissional']['cpfContratado']}}</td>
                                <td>{{equipe['dados']['nomeProf']}}</td>
                                <td>{{equipe['dados']['conselho']}}</td>
                                <td>{{equipe['dados']['numeroConselhoProfissional']}}</td>
                                <td>{{equipe['dados']['UF']}}</td>
                                <td>{{equipe['dados']['CBOS']}}</td>
                            </tr>
                        {% else %}
                            {% for profissional in equipe['dados'] %}
                            <tr>
                                <td>{{equipe['nr_procedimento']}}</td>
                                <td>{{profissional['grauPart']}}</td>
                                <td>{{profissional['codProfissional']['cpfContratado']}}</td>
                                <td>{{profissional['nomeProf']}}</td>
                                <td>{{profissional['conselho']}}</td>
                                <td>{{profissional['numeroConselhoProfissional']}}</td>
                                <td>{{profissional['UF']}}</td>
                                <td>{{profissional['CBOS']}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <p>56-Data de Realização de prodecimentos em Série. 57-Assinatura do Beneficiário ou Responsável</p>
        <div class="row">
            <div class="span2">
                <p>1-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________</p>
            </div>
            <div class="span2">
                <p>2-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________</p>
            </div>
            <div class="span2">
                <p>3-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________</p>
            </div>
            <div class="span2">
                <p>4-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________</p>
            </div>
            <div class="span2">
                <p>5-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________</p>
            </div>
        </div>
        
        <div class="row">
            <div class="span2">
                <p>6-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________</p>
            </div>
            <div class="span2">
                <p>7-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________</p>
            </div>
            <div class="span2">
                <p>8-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________</p>
            </div>
            <div class="span2">
                <p>9-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________</p>
            </div>
            <div class="span2">
                <p>10-&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___________________</p>
            </div>
        </div>
        
        <div class="row">
            <div class="span12">
                <h4>58-Observações / Justificativa</h4>
                <p>
                    {% if obj['observacao'] %}{{obj['observacao']}}{% endif %}
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="span2">
                <h4>59-Total de procedimentos (R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorProcedimento'] %}
                        {{obj['valorTotal']['valorProcedimento']}}
                    {% endif %}
                </p>
            </div>
            <div class="span2">
                <h4>60-Total de Taxas e Aluguéis (R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorTaxasAlugueis'] %}
                        {{obj['valorTotal']['valorTaxasAlugueis']}}
                    {% endif %}
                </p>
            </div>
            <div class="span2">
                <h4>61-Total de Materiais (R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorMateriais'] %}
                        {{obj['valorTotal']['valorMateriais']}}
                    {% endif %}
                </p>
            </div>
            <div class="span2">
                <h4>62-Total de OPME (R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorOPME'] %}
                        {{obj['valorTotal']['valorOPME']}}
                    {% endif %}
                </p>
            </div>
            <div class="span2">
                <h4>63-Total de Medicamentos (R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorMedicamentos'] %}
                        {{obj['valorTotal']['valorMedicamentos']}}
                    {% endif %}
                </p>
            </div>
            <div class="span2">
                <h4>64-Total de Gases Medicinais (R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorGasesMedicinais'] %}
                        {{obj['valorTotal']['valorGasesMedicinais']}}
                    {% endif %}
                </p>
            </div>
            <div class="span2">
                <h4>65-Total Geral (R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorTotalGeral'] %}
                        {{obj['valorTotal']['valorTotalGeral']}}
                    {% endif %}
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="span4">
                <h4>66-Assinatura do Responsável pela Autorização</h4>
                <p> </p>
            </div>
            <div class="span4">
                <h4>67-Assinatura do Benificiário ou Responsável</h4>
                <p> </p>
            </div>
            <div class="span4">
                <h4>68-Assinatura do Contratado</h4>
                <p> </p>
            </div>
        </div>
    </div>
    
    {% if obj['outrasDespesas'] %}
    <div class="divisor"></div>
    <!-- GUIA COMPLEMENTAR -->
    <div class="container">
        <div class="row">
            <div class="span4">
                <img src="static/img/logo.png">
            </div>
            
            <div class="span8">
                <h1>ANEXO DE OUTRAS DESPESAS</h1>
                <h2>(para guia de SP/SADT e Resumo de Internação)</h2>
            </div>
            
        </div>
        
        <div class="row">
            <div class="span2">
                <h4>1-Registro ANS</h4>
                <p>{{obj['cabecalhoGuia']['registroANS']}}</p>
            </div>
            
            <div class="span3">
                <h4>2-Número da Guia Referência</h4>
                <p>{{obj['cabecalhoGuia']['numeroGuiaPrestador']}}</p>
            </div>
        </div>
        
        <div class="tit-tiss">Dados do Contratado Executante</div>
        <div class="row">
            <div class="span2">
                <h4>3-Código na Operadora</h4>
                <p>{{obj['dadosExecutante']['codigonaOperadora']}}</p>
            </div>
            <div class="span7">
                <h4>4-Nome do Contratado</h4>
                <p>{{obj['dadosExecutante']['nomeContratado']}}</p>
            </div>
            <div class="span3">
                <h4>5-Código CNES</h4>
                <p>{{obj['dadosExecutante']['CNES']}}</p>
            </div>
        </div>
        
        <div class="tit-tiss">Despesas Realizadas</div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td> </td>
                        <td>6-CD</td>
                        <td>7-Data</td>
                        <td>8-Hora Inicial</td>
                        <td>9-Hora Final</td>
                        <td>10-Tabela</td>
                        <td>11-Código do Item</td>
                        <td>12-Qtde.</td>
                        <td>13-Unidade de medida</td>
                        <td>14-Fator Red./Acresc</td>
                        <td>15-Valor Unitário - R$</td>
                        <td>16-Valor Total - R$</td>
                    </tr>
                    <tr>
                        <td colspan="4">17-Registro ANVISA do Material</td>
                        <td colspan="6">18-Referência do material no fabricante</td>
                        <td colspan="2">19-Nº Autorização de Funcionamento</td>
                    </tr>
                </thead>
                <tbody>
                    {% if obj['outrasDespesas']['despesa']['codigoDespesa'] %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['codigoDespesa']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['dataExecucao']|formatar_data}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['horaInicial']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['horaFinal']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['codigoTabela']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['codigoProcedimento']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['quantidadeExecutada']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['unidadeMedida']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['reducaoAcrescimo']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['valorUnitario']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['valorTotal']}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">{{obj['outrasDespesas']['despesa']['servicosExecutados']['registroANVISA']}}</td>
                            <td colspan="6">{{obj['outrasDespesas']['despesa']['servicosExecutados']['codigoRefFabricante']}}</td>
                            <td colspan="2">{{obj['outrasDespesas']['despesa']['servicosExecutados']['autorizacaoFuncionamento']}}</td>
                        </tr>
                        <tr>
                            <td colspan="12">&nbsp;&nbsp;&nbsp;&nbsp;20-Descrição {{obj['outrasDespesas']['despesa']['servicosExecutados']['descricaoProcedimento']}}</td>
                        </tr>
                    {% else %}
                        {% for despesa in obj['outrasDespesas']['despesa'] %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{despesa['codigoDespesa']}}</td>
                            <td>{{despesa['servicosExecutados']['dataExecucao']|formatar_data}}</td>
                            <td>{{despesa['servicosExecutados']['horaInicial']}}</td>
                            <td>{{despesa['servicosExecutados']['horaFinal']}}</td>
                            <td>{{despesa['servicosExecutados']['codigoTabela']}}</td>
                            <td>{{despesa['servicosExecutados']['codigoProcedimento']}}</td>
                            <td>{{despesa['servicosExecutados']['quantidadeExecutada']}}</td>
                            <td>{{despesa['servicosExecutados']['unidadeMedida']}}</td>
                            <td>{{despesa['servicosExecutados']['reducaoAcrescimo']}}</td>
                            <td>{{despesa['servicosExecutados']['valorUnitario']}}</td>
                            <td>{{despesa['servicosExecutados']['valorTotal']}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">{{despesa['servicosExecutados']['registroANVISA']}}</td>
                            <td colspan="6">{{despesa['servicosExecutados']['codigoRefFabricante']}}</td>
                            <td colspan="2">{{despesa['servicosExecutados']['autorizacaoFuncionamento']}}</td>
                        </tr>
                        <tr>
                            <td colspan="12">&nbsp;&nbsp;&nbsp;&nbsp;20-Descrição {{despesa['servicosExecutados']['descricaoProcedimento']}}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            
            <div class="row">
                <div class="span2">
                    <h4>21-Total de Gases Medicinais (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorGasesMedicinais'] %}
                        {{obj['valorTotal']['valorGasesMedicinais']}}
                    {% else %}
                    0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>22-Total de Medicamentos (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorMedicamentos'] %}
                        {{obj['valorTotal']['valorMedicamentos']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>23-Total de Materiais (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorMateriais'] %}
                        {{obj['valorTotal']['valorMateriais']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>24-Total de OPME (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorOPME'] %}
                        {{obj['valorTotal']['valorOPME']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>25-Total de Taxas e Aluguéis (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorTaxasAlugueis'] %}
                        {{obj['valorTotal']['valorTaxasAlugueis']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>26-Total de Diárias (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorDiarias'] %}
                        {{obj['valorTotal']['valorDiarias']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>27-Total Geral (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorTotalGeral'] %}
                        {{obj['valorTotal']['valorTotalGeral']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
            </div>
            </div>
        </div>
        {% endif %}
        
    </div>
    <div class="divisor"></div>
    {{obj['cabecalhoGuia']['numeroGuiaPrestador']|reset_equipes}}
    {% endfor %}   
{% endblock %}