{% extends "base.html" %}

{% block content %}
{% for obj in  objects %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <img src="static/img/logo.png">
            </div>
            
            <div class="span4">
                <h1>{{ titulo }}</h1>
                <h2></h2>
             </div>
            
            <div class="span4">
                <h4>2-No Guia no Prestador</h4>
                <p style="font-size:12px"><b>{{ obj['cabecalhoGuia']['numeroGuiaPrestador'] }}</b></p>
            </div>
         </div>
        
        <div class="row">
            <div class="span2">
                <h4>1- Registro ANS</h4>
                <p>{{ obj['cabecalhoGuia']['registroANS'] }}</p>
            </div>
            
            <div class="span3">
                <h4>3-Número da Guia de Solicitação de Internação</h4>
                <p>
                    {% if obj['numeroGuiaSolicitacaoInternacao'] %}
                        {{ obj['numeroGuiaSolicitacaoInternacao'] }}
                    {% endif %}
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="span3">
                <h4>4- Data da Autorização</h4>
                <p>
                    {% if obj['dadosAutorizacao'] %}
                        {{obj['dadosAutorizacao']['dataAutorizacao']|formatar_data}}
                    {% endif %}
                </p>
            </div>
            
            <div class="span3">
                <h4>5-Senha</h4>
                <p>
                    {% if obj['dadosAutorizacao'] %}
                        {{ obj['dadosAutorizacao']['senha'] }}
                    {% endif %}
                </p>
            </div>
            
            <div class="span3">
                <h4>6-Data de Validade da Senha</h4>
                <p>
                    {% if obj['dadosAutorizacao'] %}
                        {{ obj['dadosAutorizacao']['dataValidadeSenha']|formatar_data }}
                    {% endif %}
                </p>
            </div>
            
            <div class="span3">
                <h4>7-Número da Guia Atribuído pela Operadora</h4>
                <p>
                    {% if obj['dadosAutorizacao'] %}
                        {{ obj['dadosAutorizacao']['numeroGuiaOperadora'] }}
                    {% endif %}
                </p>
            </div>
        </div>
        
        <div class="tit-tiss">Dados do Beneficiário</div>
        <div class="row">
            <div class="span2">
                <h4>8- Número da Carteira</h4>
                <p>{{ obj['dadosBeneficiario']['numeroCarteira'] }}</p>
            </div>
            
            <div class="span2">
                <h4>9-Validade da Carteira</h4>
                <p>
                __/__/_____
                </p>
            </div>
            
            <div class="span3">
                <h4>10-Nome</h4>
                <p>
                {{ obj['dadosBeneficiario']['nomeBeneficiario'] }}
                </p>
            </div>
            
            <div class="span3">
                <h4>11-Cartão Nacional de Saúde</h4>
                <p></p>
            </div>
            
            <div class="span2">
                <h4>12- Atendimento a RN</h4>
                <p>
                    {{ obj['dadosBeneficiario']['atendimentoRN'] }}
                </p>
            </div>
        </div>

        <div class="tit-tiss">Dados do Contratado Executante</div>
        <div class="row">
            <div class="span3">
                <h4>13-Código na Operadora</h4>
                <p>
                    {% if obj['dadosExecutante']['contratadoExecutante']['codigoPrestadorNaOperadora'] %}
                        {{obj['dadosExecutante']['contratadoExecutante']['codigoPrestadorNaOperadora']}}
                    {% else %}
                        {{obj['dadosExecutante']['contratadoExecutante']['cnpjContratado']}}
                    {% endif %}
                </p>
            </div>
            
            <div class="span7">
                <h4>14-Nome do Contratado</h4>
                <p>{{obj['dadosExecutante']['contratadoExecutante']['nomeContratado']}}</p>
            </div>
            
            <div class="span2">
                <h4>15-Código CNES</h4>
                <p>{{obj['dadosExecutante']['CNES']}}</p>
            </div> 
        </div>
        
        <div class="tit-tiss">Dados da Internação</div>
        <div class="row">
            <div class="span1">
                <h4>16-Caráter do Atendimento</h4>
                <p>{{obj['dadosInternacao']['caraterAtendimento']}}</p>
            </div>
            
            <div class="span1">
                <h4>17-Tipo de Faturamento</h4>
                <p>{{obj['dadosInternacao']['tipoFaturamento']}}</p>
            </div>
            
            <div class="span2">
                <h4>18-Data Ini do Fat</h4>
                <p>{{obj['dadosInternacao']['dataInicioFaturamento']|formatar_data}}</p>
            </div>
            
            <div class="span1">
                <h4>19-Hora Ini do Fat</h4>
                <p>{{obj['dadosInternacao']['horaInicioFaturamento']}}</p>
            </div>
            
            <div class="span2">
                <h4>20-Data Fim do Fat</h4>
                <p>{{obj['dadosInternacao']['dataFinalFaturamento']|formatar_data}}</p>
            </div>
            
            <div class="span1">
                <h4>21-Hora Fim do Fat</h4>
                <p>{{obj['dadosInternacao']['horaInicioFaturamento']}}</p>
            </div>
            
            <div class="span2">
                <h4>22-Tipo de Internação</h4>
                <p>{{obj['dadosInternacao']['tipoInternacao']}}</p>
            </div>
            
            <div class="span2">
                <h4>23-Regime de Internação</h4>
                <p>{{obj['dadosInternacao']['regimeInternacao']}}</p>
            </div>
        </div>
        

        <div class="row">
            <div class="span1">
                <h4>24-CID 10 Principal</h4>
                <p></p>
            </div>
            
            <div class="span1">
                <h4>25-CID 10(2)</h4>
                <p></p>
            </div>
            
            <div class="span1">
                <h4>26-CID 10(3)</h4>
                <p></p>
            </div>
            
            <div class="span1">
                <h4>27-CID 10(4)</h4>
                <p></p>
            </div>
            
            <div class="span1">
                <h4>28-Indicação de acidente</h4>
                <p>{{obj['dadosSaidaInternacao']['indicadorAcidente']}}</p>
            </div>
            
            <div class="span1">
                <h4>29-Mot. Encerram. Internação</h4>
                <p>{{obj['dadosSaidaInternacao']['motivoEncerramento']}}</p>
            </div>
            
            <div class="span2">
                <h4>30-Número da declaração de nascido vivo</h4>
                <p>
                    {% if obj['dadosInternacao']['declaracoes'] and obj['dadosInternacao']['declaracoes']['declaracaoNascido'] %}
                        {{obj['dadosInternacao']['declaracoes']['declaracaoNascido']}}
                    {% endif %}
                </p>
            </div>
            
            <div class="span1">
                <h4>31-CID 10 Óbito</h4>
                <p></p>
            </div>
            
            <div class="span2">
                <h4>32-Número da declaração de óbito</h4>
                <p>
                    {% if obj['dadosInternacao']['declaracoes'] and obj['dadosInternacao']['declaracoes']['declaracaoObito'] %}
                        {{obj['dadosInternacao']['declaracoes']['declaracaoObito']}}
                    {% endif %}
                </p>
            </div>
            
            <div class="span1">
                <h4>33-Indicador D.O. de RN</h4>
                <p>
                    {% if obj['dadosInternacao']['declaracoes'] and obj['dadosInternacao']['declaracoes']['indicadorDORN'] %}
                        {{obj['dadosInternacao']['declaracoes']['indicadorDORN']}}
                    {% endif %}
                </p>
            </div>
        </div>

        
        <div class="tit-tiss">Procedimentos e Exames Realizados</div>
        <div >
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>34-Data</td>
                        <td>35-Hora Inicial</td>
                        <td>36-Hora Final</td>
                        <td>37-Tabela</td>
                        <td>38-Código do Procedimento</td>
                        <td>39-Descrição</td>
                        <td>40-Qtde.</td>
                        <td>41-Via</td>
                        <td>42-Téc</td>
                        <td>43-Fator Red/Acresc</td>
                        <td>44-Valor Unitário(R$)</td>
                        <td>45-Valor Total(R$)</td>
                    </tr>
                </thead>
                <tbody>
                    {% if obj['procedimentosExecutados'] %}
                        {% if obj['procedimentosExecutados']['procedimentoExecutado']['dataExecucao'] %}
                            {% if obj['procedimentosExecutados']['procedimentoExecutado']['identEquipe'] %}
                                {{obj['procedimentosExecutados']['procedimentoExecutado']['identEquipe']|load_equipes(1, obj['cabecalhoGuia']['numeroGuiaPrestador'])}}
                            {% endif %}
                            <tr>
                                <td>1</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['dataExecucao']|formatar_data}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['horaInicial']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['horaFinal']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['procedimento']['codigoTabela']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['procedimento']['codigoProcedimento']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['procedimento']['descricaoProcedimento']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['quantidadeExecutada']}}</td>
                                <td></td>
                                <td></td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['reducaoAcrescimo']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['valorUnitario']}}</td>
                                <td>{{obj['procedimentosExecutados']['procedimentoExecutado']['valorTotal']}}</td>
                            </tr>
                        {% else %}
                            {% for procedimento in obj['cabecalhoGuia']['numeroGuiaPrestador']|procedimentos %}
                                {% if procedimento['identEquipe'] %}
                                    {{procedimento['identEquipe']|load_equipes(loop.index, obj['cabecalhoGuia']['numeroGuiaPrestador'])}}
                                {% endif %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{procedimento['dataExecucao']|formatar_data}}</td>
                                <td>{{procedimento['horaInicial']}}</td>
                                <td>{{procedimento['horaFinal']}}</td>
                                <td>{{procedimento['procedimento']['codigoTabela']}}</td>
                                <td>{{procedimento['procedimento']['codigoProcedimento']}}</td>
                                <td>{{procedimento['procedimento']['descricaoProcedimento']}}</td>
                                <td>{{procedimento['quantidadeExecutada']}}</td>
                                <td></td>
                                <td></td>
                                <td>{{procedimento['reducaoAcrescimo']}}</td>
                                <td>{{procedimento['valorUnitario']}}</td>
                                <td>{{procedimento['valorTotal']}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    
        <div class="tit-tiss">Identificação da Equipe</div>
        <div >
            <table>
                <thead>
                    <tr>
                        <th>46-Seq.Ref</th>
                        <th>47-GRau Part.</th>
                        <th>48-Código na Operadora/CPF</th>
                        <th>49-Nome do Profissional</th>
                        <th>50-conselho Profissional</th>
                        <th>51-Número no Conselho</th>
                        <th>52-UF</th>
                        <th>53-Código CBO</th>
                    </tr>
                </thead>
                <tbody>
                    {% if obj['procedimentosExecutados'] %}
                        {% for equipe in obj['cabecalhoGuia']['numeroGuiaPrestador']|equipes %}
                            {% if equipe['dados']['identificacaoEquipe'] %}
                                {% if equipe['dados']['identificacaoEquipe']['grauPart'] %}
                                  <tr>
                                        <td>{{equipe['nr_procedimento']}}</td>
                                        <td>{{equipe['dados']['identificacaoEquipe']['grauPart']}}</td>
                                        <td>{{equipe['dados']['identificacaoEquipe']['codProfissional']['cpfContratado']}}</td>
                                        <td>{{equipe['dados']['identificacaoEquipe']['nomeProf']}}</td>
                                        <td>{{equipe['dados']['identificacaoEquipe']['conselho']}}</td>
                                        <td>{{equipe['dados']['identificacaoEquipe']['numeroConselhoProfissional']}}</td>
                                        <td>{{equipe['dados']['identificacaoEquipe']['UF']}}</td>
                                        <td>{{equipe['dados']['identificacaoEquipe']['CBOS']}}</td>
                                    </tr>
                                {% else %}
                                    {% for profissional in equipe['dados'] %}
                                    <tr>
                                        <td>{{equipe['nr_procedimento']}}</td>
                                        <td>{{profissional['identificacaoEquipe']['grauPart']}}</td>
                                        <td>{{profissional['identificacaoEquipe']['codProfissional']['cpfContratado']}}</td>
                                        <td>{{profissional['identificacaoEquipe']['nomeProf']}}</td>
                                        <td>{{profissional['identificacaoEquipe']['conselho']}}</td>
                                        <td>{{profissional['identificacaoEquipe']['numeroConselhoProfissional']}}</td>
                                        <td>{{profissional['identificacaoEquipe']['UF']}}</td>
                                        <td>{{profissional['identificacaoEquipe']['CBOS']}}</td>
                                    </tr>
                                    {% endfor %}                                
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <div class="span2">
                <h4>54-Total de procedimentos(R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorProcedimentos'] %}
                        {{obj['valorTotal']['valorProcedimentos']}}
                    {% endif %}
                </p>
            </div>
            <div class="span2">
                <h4>55-Total de Diárias</h4>
                <p>{% if obj['valorTotal']['valorDiarias'] %}
                        {{obj['valorTotal']['valorDiarias']}}
                    {% endif %}</p>
            </div>
            <div class="span1">
                <h4>56-Total de Taxas e Aluguéis(R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorTaxasAlugueis'] %}
                        {{obj['valorTotal']['valorTaxasAlugueis']}}
                    {% endif %}
                </p>
            </div>
            <div class="span1">
                <h4>57-Total de Materiais(R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorMateriais'] %}
                        {{obj['valorTotal']['valorMateriais']}}
                    {% endif %}
                </p>
            </div>
            <div class="span1">
                <h4>58-Total de OPME(R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorOPME'] %}
                        {{obj['valorTotal']['valorOPME']}}
                    {% endif %}
                </p>
            </div>
            <div class="span1">
                <h4>59-Total de Medicamentos(R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorMedicamentos'] %}
                        {{obj['valorTotal']['valorMedicamentos']}}
                    {% endif %}
                </p>
            </div>
            <div class="span2">
                <h4>60-Total de Gases Medicinais(R$)</h4>
                <p>
                    {% if obj['valorTotal']['valorMedicinais'] %}
                        {{obj['valorTotal']['valorMedicinais']}}
                    {% endif %}
                </p>
            </div>
            <div class="span2">
                <h4>61-Total Geral(R$)</h4>
                <p>{{obj['valorTotal']['valorTotalGeral']}}</p>
            </div>
        </div>
        
        <div class="row">
            <div class="span3">
                <h4>62-Data de assinatura do contrato</h4>
                <p></p>
            </div>
            <div class="span4">
                <h4>63-Assinatura do contratado</h4>
                <p></p>
            </div>
            <div class="span5">
                <h4>64-Assinatura do(s) Auditor(es) da Operadora</h4>
                <p></p>
            </div>
        </div>
        
        <div class="row">
            <div class="span12">
                <h4>65-Observações / Justificativa</h4>
                <p></p>
            </div>
        </div>
    </div>
    <!-- abaixo copiado -->    
    {% if obj['outrasDespesas'] %}
    
    <!-- GUIA COMPLEMENTAR -->
    <div class="container">
        <div class="row">
            <div class="span4">
                <img src="static/img/logo.png">
            </div>
            
            <div class="span8">
                <h1>ANEXO DE OUTRAS DESPESAS</h1>
                <h2>(para guia de SP/SADT e Resumo de Internação)</h2>
            </div>
            
        </div>
        
        <div class="row">
            <div class="span2">
                <h4>1-Registro ANS</h4>
                <p>{{obj['cabecalhoGuia']['registroANS']}}</p>
            </div>
            
            <div class="span3">
                <h4>2-Número da Guia Referência</h4>
                <p>{{obj['cabecalhoGuia']['numeroGuiaPrestador']}}</p>
            </div>
        </div>
        
        <div class="tit-tiss">Dados do Contratado Executante</div>
        <div class="row">
            <div class="span2">
                <h4>3-Código na Operadora</h4>
                <p>{{obj['dadosExecutante']['codigonaOperadora']}}</p>
            </div>
            <div class="span7">
                <h4>4-Nome do Contratado</h4>
                <p>{{obj['dadosExecutante']['nomeContratado']}}</p>
            </div>
            <div class="span3">
                <h4>5-Código CNES</h4>
                <p>{{obj['dadosExecutante']['CNES']}}</p>
            </div>
        </div>
        
        <div class="tit-tiss">Despesas Realizadas</div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td> </td>
                        <td>6-CD</td>
                        <td>7-Data</td>
                        <td>8-Hora Inicial</td>
                        <td>9-Hora Final</td>
                        <td>10-Tabela</td>
                        <td>11-Código do Item</td>
                        <td>12-Qtde.</td>
                        <td>13-Unidade de medida</td>
                        <td>14-Fator Red./Acresc</td>
                        <td>15-Valor Unitário - R$</td>
                        <td>16-Valor Total - R$</td>
                    </tr>
                    <tr>
                        <td colspan="4">17-Registro ANVISA do Material</td>
                        <td colspan="6">18-Referência do material no fabricante</td>
                        <td colspan="2">19-Nº Autorização de Funcionamento</td>
                    </tr>
                </thead>
                <tbody>
                    {% if obj['outrasDespesas']['despesa']['codigoDespesa'] %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['codigoDespesa']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['dataExecucao']|formatar_data}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['horaInicial']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['horaFinal']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['codigoTabela']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['codigoProcedimento']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['quantidadeExecutada']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['unidadeMedida']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['reducaoAcrescimo']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['valorUnitario']}}</td>
                            <td>{{obj['outrasDespesas']['despesa']['servicosExecutados']['valorTotal']}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">{{obj['outrasDespesas']['despesa']['servicosExecutados']['registroANVISA']}}</td>
                            <td colspan="6">{{obj['outrasDespesas']['despesa']['servicosExecutados']['codigoRefFabricante']}}</td>
                            <td colspan="2">{{obj['outrasDespesas']['despesa']['servicosExecutados']['autorizacaoFuncionamento']}}</td>
                        </tr>
                        <tr>
                            <td colspan="12">&nbsp;&nbsp;&nbsp;&nbsp;20-Descrição: {{obj['outrasDespesas']['despesa']['servicosExecutados']['descricaoProcedimento']}}</td>
                        </tr>
                    {% else %}
                        {% for despesa in obj['outrasDespesas']['despesa'] %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{despesa['codigoDespesa']}}</td>
                            <td>{{despesa['servicosExecutados']['dataExecucao']|formatar_data}}</td>
                            <td>{{despesa['servicosExecutados']['horaInicial']}}</td>
                            <td>{{despesa['servicosExecutados']['horaFinal']}}</td>
                            <td>{{despesa['servicosExecutados']['codigoTabela']}}</td>
                            <td>{{despesa['servicosExecutados']['codigoProcedimento']}}</td>
                            <td>{{despesa['servicosExecutados']['quantidadeExecutada']}}</td>
                            <td>{{despesa['servicosExecutados']['unidadeMedida']}}</td>
                            <td>{{despesa['servicosExecutados']['reducaoAcrescimo']}}</td>
                            <td>{{despesa['servicosExecutados']['valorUnitario']}}</td>
                            <td>{{despesa['servicosExecutados']['valorTotal']}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">{{despesa['servicosExecutados']['registroANVISA']}}</td>
                            <td colspan="6">{{despesa['servicosExecutados']['codigoRefFabricante']}}</td>
                            <td colspan="2">{{despesa['servicosExecutados']['autorizacaoFuncionamento']}}</td>
                        </tr>
                        <tr>
                           <td colspan="12">&nbsp;&nbsp;&nbsp;&nbsp;20-Descrição: {{despesa['servicosExecutados']['descricaoProcedimento']}}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            
            <div class="row">
                <div class="span2">
                    <h4>21-Total de Gases Medicinais (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorGasesMedicinais'] %}
                        {{obj['valorTotal']['valorGasesMedicinais']}}
                    {% else %}
                    0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>22-Total de Medicamentos (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorMedicamentos'] %}
                        {{obj['valorTotal']['valorMedicamentos']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>23-Total de Materiais (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorMateriais'] %}
                        {{obj['valorTotal']['valorMateriais']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>24-Total de OPME (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorOPME'] %}
                        {{obj['valorTotal']['valorOPME']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>25-Total de Taxas e Aluguéis (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorTaxasAlugueis'] %}
                        {{obj['valorTotal']['valorTaxasAlugueis']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>26-Total de Diárias (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorDiarias'] %}
                        {{obj['valorTotal']['valorDiarias']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
                <div class="span2">
                    <h4>27-Total Geral (R$)</h4>
                    <p>
                    {% if obj['valorTotal']['valorTotalGeral'] %}
                        {{obj['valorTotal']['valorTotalGeral']}}
                    {% else %}
                        0,00
                    {% endif %}
                    </p>
                </div>
            </div>
            </div>
        </div>
    {% endif %}
    <div class="divisor"></div>
    {{obj['cabecalhoGuia']['numeroGuiaPrestador']|reset_equipes}}
    {% endfor %}
{% endblock %}