body{
    background-color: #C2C2C2;
    margin: 5mm 5mm 5mm 5mm;
}

h1{
    font-size: 13px;
    margin-top: 0.5em;
}

h2{
    font-size: 10px;
    margin-top: -25px;
    text-align: center;
    width:100%;
}

h3{
    font-size:9px;
    font-weight: bolder;
    background-color: #A9A9A9;
    margin-bottom: 2px;
    margin-top: 0px;
    padding:0px;
}

h4{
    font-size:9px;
    font-weight: bolder;
    margin-top: -8px;
}

p{
    font-size:9px;
    margin-top: -15px;
}

table{
    font-size:9px;
    width:90%;
    margin-bottom:5px;
}

thead td{
    font-weight: bolder;
}

table td, table th { padding: 0 !important }
tbody tr td{
    border:1px solid #000;
    border-top: none;
    height:10px;
}

.container{
    padding:5px;
    width:1100px;
    height: 718px;
    min-height: 718px;
    height: auto;
    background-color: #FFFFFF;
    border:1px solid #000000;
    -moz-box-shadow: 0 0 5px #111;
    -webkit-box-shadow: 0 0 5px #111;
    box-shadow: 0 0 5px #111;
}

.row { margin-top: 0.5em; }

.row p{
    border:1px solid #000;
    border-top: none;
    height:10px;
    padding: 2px 0px 5px 2px;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12{
    width: auto;
}

.tit-tiss{
    font-size:9px;
    font-weight: bolder;
    background-color: #A9A9A9;
    margin-bottom: 2px;
    margin-top: 0px;
    padding:0px;
}

.divisor{
    clear: both;
    height:10px;
    /*border-top: dashed 1px #C2C2C2;*/
    margin-top: 10px;
    page-break-after: always; 
}